version: '3.8'
services:
  db:
    image: postgres:14.1-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres123 
      - POSTGRES_DB=sellinium
    ports:
      - '7004:5432'
    volumes:
      - ./db:/var/lib/postgresql/data
